# Compiled Object files
*.slo
*.lo
*.o
*.exe
*~
*.out


# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# editor temp files
*.swp
.__afs*

# data
*.root
*.tex
*.pdf
*.txt
*.png
